body.export {
  h2 {
    border-bottom: 1px solid #ccc;
  }

  section {
    margin-bottom: 60px;
  }

  .tab-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: transparent;
    padding: 1em 2em 2em;
  }
}