@import "dradis/themes/snowcrash/modules/alerts";
@import "dradis/themes/snowcrash/modules/configurations";
@import "dradis/themes/snowcrash/modules/export";
@import "dradis/themes/snowcrash/modules/issues";
@import "dradis/themes/snowcrash/modules/modals";
@import "dradis/themes/snowcrash/modules/textile";
@import "dradis/themes/snowcrash/modules/uploads";

.page {
  &.page-mini {
    padding: 10px;
  }
  &.page-none {
    margin: 0 0;
    padding: 0px;
  }
}

.note-list {
  margin-bottom: 2em;
  .list-item {
    line-height: 2em;
    &.note-editor{
      border-bottom: 0;
      .form-actions {
        border: 0;
        background-color: #fff;
      }
    }

    p {
      line-height: 1.5em;
    }
  }

  .note {
    cursor: pointer;
    color: darken($secondaryNavBarBgColor,30);
    &:hover {
      color: darken($secondaryNavBarBgColor,45);
    }
    &.on {
      .remove-note {
        visibility: visible;
        a:last-child:hover { color:#7b0000; }
        font-size: 0.9em;
      }
    }
    &.placeholder {
      color: #ccc;
      font-style: italic;
    }
    .remove-note {
      visibility: hidden;
    }
  }
  .note-text-inner {
    padding: 1em;
    background: lighten($grayLight, 5%);

    .page {
      padding: 2em !important;
    }

    h3 {
      margin-bottom: 0 !important;
      font-size: 1.2em;
      color: $grayDark;
      border-bottom: 0px none !important;

      &:first-child {
        margin-top: 0;
      };
    }
  }
}
.content {
  padding: 1em;

  h4{ margin-top: 2em; }
  h4:first-child { margin-top: 10px; }

  ul {
    list-style: none;
    margin-top: 1em;
  }
}

.attachment {
  margin: 10px 0;
//    padding-left: 100px;
}

.gravatar {
  float: left;
  margin-right: 5px;
  img {
    @include rounded(50%)
  }
}
