<div id="<%= dom_id(note) %>_link" class="list-item">
  <div class="expansion-container">
    <%= link_to '#', :class => 'view-toggle', :data => {:target => "##{dom_id(note)}_content"} do %>
      <i class="icon-file-text"></i>
      <%= note.title %>
    <% end %>
  </div>
</div>
